.header{
  background: url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  height: 715px;
  &__menu{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    .active{
      background-color: #fff;
      border-radius: 30px;
      padding: 17px 20px;
      color: #43cb83;
      font-weight: 900;
      box-shadow: 0 5px 100px #555;
      &:hover{
        margin: 0;
      }
    }
    ul{
      padding: 0;
      margin: 77px 0;
      li{
        list-style: none;
        display: inline-block;
        &:nth-child(2){
          margin: 0 50px;
          box-sizing: border-box;
        }
        a{
          color: #fff;
          font-family: Lato, sans-serif;
          text-transform: uppercase;
          font-size: 18px;
          &:hover{
            background-color: #fff;
            border-radius: 30px;
            padding: 17px 20px;
            margin: 0 -20px;
            box-sizing: border-box;
            color: #43cb83;
            transition: 300ms ease;
            font-weight: 900;
            box-shadow: 0 5px 100px #555;
          }
        }
      }
    }
  }
  &__text{
    position: relative;
    display: block;
    float: left;
    @include breakpoint(max-width 667px){
      text-align: center;
    }
    h1{
      font-size: 46px;
      color: #fff;
      font-weight: 900;
    }
    p{
      font-size: 19px;
      color: #fff;
      font-weight:700;
      margin: 50px 0 55px 0;
    }
    &-button{
      width: 240px;
      height: 50px;
      border: none;
      border-radius: 30px;
      background: #43cb83;
      color: #fff;
      font-size: 18px;
      font-weight:700;
      transition: 300ms ease;
      outline: none;
      @include breakpoint(max-width 667px){
        margin-bottom: 30px;
      }
      &:hover{
        transition: 500ms ease;
        transform: scale(1.1);
        box-shadow: 0 0 80px #43cb83;
      }
    }
    &-button-r{
      height: 50px;
      width: 185px;
      border: 2px solid #dde1eb;
      transition: 300ms ease;
      border-radius: 30px;
      background: transparent;
      color: #fff;
      font-weight:400;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      margin-left: 16px;
      outline: none;
      &:hover{
        transition: 500ms ease;
        transform: scale(1.1);
        box-shadow: 0 0 80px #808080;
      }
    }
  }
}