.our-happy-clients{
  position: relative;
  display: block;
  float: left;
  width: 100%;
  h1{
    font-size: 36px;
    color: #282828;
    font-weight:700;
    margin-bottom: 45px;

    span{
      color: #43cb83;
    }
    @include breakpoint(max-width 568px){
      text-align: center;
    }
    @include breakpoint(max-width 770px){
      text-align: center;
    }
  }

  &__item{
    position: relative;
    height: 180px;
    width: 250px;
    margin: 0 auto;

    img{
      width: 100%;
      object-fit: cover;
      height: 180px;
    }
    .hover{
      opacity: 0;
      position: absolute;
      background: rgba(84, 207, 142, .9);
      width: 100%;
      height: 180px;
      top: 0;
      transition: 500ms ease;
      button{
        display: block;
        height: 40px;
        width: 140px;
        border-radius: 30px;
        background: #fff;
        color: #54cf8e;
        border: none;
        outline: none;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        margin: 0 auto;
        box-sizing: border-box;
        position: relative;
        text-transform: uppercase;
        margin-top: 70px;
      }
    }
    &:hover .hover{
      display: block;
      transition: 500ms ease;
      cursor: pointer;
      opacity: 1;
    }
    &:hover img{
    }
  }
  p{
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
    color: #4f5362;
  }

}